server:
  ingress:
    enabled: true
    ingressClassName: nginx
    hosts:
      - argocd.ilkerispir.com
    tls:
    - secretName: ilkerispir-cert
      hosts:
        - argocd.ilkerispir.com

configs:
  secret:
     argocdServerAdminPassword: JGbGt9MjeNYcrn # TODO: retrieve this from Vault