---
controller:
  hostNetwork: true
  kind: DaemonSet
  service:
    type: ClusterIP
    omitClusterIP: true

    enableHttp: true
    enableHttps: false

  nodeSelector: {}

  containerPort:
    http: 8888
    https: 8843
  
  extraArgs:
    http-port: 8888
    https-port: 8843

  config:
    disable-ipv6: "true"

    use-forwarded-headers: "true"
    proxy-body-size: "50m"
    proxy-hide-headers: "Server"
    server-tokens: "false"

defaultBackend:
  service:
    omitClusterIP: true
